{% extends 'newapp/base.html' %}

{% block title %}
 <title> about </title>
{% endblock %}

{% block content %}

{% load static %}
<div class="container">
  <img src="{%static 'newapp/images/about1.jpg'%}" alt="aboutimg" width="1000" height="300">
  <div class="topleft"><b>We at Healthify provide you special care <br>with all our available faculities,
  Such as Online Video Consultance,<br> Online Medicines Purchase, Ambulance Services and lot more..
  <br>The original and largest Cure and Care Campus Located in the heart of New Jersey,USA.
      <br>A dynamic city just 90 minutes south of the Twin Cities of Minneapolis and St. Paul
      <br>Healthify has been safely caring for patients from around the world for more than 100 years.
      <br>Healthify will always be your safe care destination.</b>
</div>
</div>

{% endblock %}

{% block content1 %}
{% endblock %}



