{% extends 'newapp/base.html' %}
{% load static %}

{% block title %}
 <title> our services </title>
{% endblock %}

{% block content %}
<h1>Ground ambulance</h1>
<img src="{% static 'newapp/images/amb.jpg'%}" alt="ambulance image">
Healthify Ambulance Service ground transport is an advanced life support service that provides high-quality emergency medical care at the scene of traumatic or medical emergencies, and during transport to and between medical facilities. Healthify Ambulance Service ground operations respond to more than 70,000 emergency calls for service each year.

Healthify Ambulance ground operations comprise a team of registered paramedics and emergency medical technicians that provides advanced life support care and transport throughout much of the region. Healthify paramedics have advanced training and equipment to perform several medical interventions, including interpreting ECGs to confirm ST elevation myocardial infarction (STEMI), which is a type of heart attack.

Healthify Ambulance Service ground ambulance serves Albert Lea, Austin, Duluth, Fairmont, Litchfield, Little Falls, Mankato, Owatonna, Plainview, Rochester and St. Cloud, Minnesota, and Barron, Eau Claire, Osseo and Superior, Wisconsin.

<h2>How to request service</h2><br>
<p>For medical emergencies, call 911 or your local emergency number.

Medical professionals can call Healthify Ambulance Service emergency communications at 800-237-6822 (toll-free) or 507-255-2808 to request any medical transportation.
</p>
<h2>Cost</h2><br>
For questions about costs associated with medical transport or questions about bills or coverage for services, please contact our business office at 800-776-9001 (toll-free).

Healthify Ambulance Service ground ambulance teams work at emergency scenes side by side with first responder agencies, including fire departments, law enforcement agencies and rescue squads, as well as other ambulance services that are often first on the scene. Healthify Ambulance Service provides consultation for organizations in the areas of management, training, system design, compliance and licensing.

Healthify Ambulance Service works closely with medical facilities throughout its service areas to ensure that advanced-level transport options are available.
<br>


<h1>Air ambulance — airplane and helicopter</h1>

<img src="{% static 'newapp/images/airamb.jpg'%}" alt="air ambulance image">
Healthify Ambulance Service — air ambulance — Licensed airplane and helicopter ambulances flown by professional pilots and staffed with highly trained paramedics, nurses, respiratory therapists, pediatric and neonatal specialists, perfusionists, and physicians who provide care to people with complex health conditions from scenes of injury and during transfer from hospital to hospital.
Destinations
Healthify's medical airplane flies our patient care team throughout the United States and parts of Canada. The team safely brings patients to Healthify, other health care facilities or to their homes after care. The teams aboard Healthify Ambulance Service's aircraft have transported patients to Healthify's campus in Rochester, Minnesota, from the 48 contiguous United States.
The air ambulance airplane is available 24 hours a day, 365 days a year.
Aircraft, aviation crew and operations certificates are provided by Healthify.
<h2>Requesting a flight</h2>
The Healthify Ambulance Service emergency communications team coordinates flights and can be reached at 800-237-6822 (toll-free) or 507-255-2808. Communications specialists can answer your questions about our service and arrange all aspects of your travel, including help in coordinating appointments.
<h2>Cost</h2>
In many cases, health insurance or HMO plans do not cover air ambulance service if it is deemed not medically necessary or if it is selected by patient preference. Air ambulance dispatchers will provide a cost estimate when you call. Full payment for air ambulance transport is often required at the time of service if it is not medically necessary.
For questions about your transport bill or insurance claims after a transport on our air ambulance airplane, please contact our business office at 800-776-9001 (toll-free).
<h2>Accreditation</h2>
Healthify's air ambulances are accredited by the Commission on Accreditation of Medical Transport Systems (CAMTS), the industry's most respected stamp of approval for all aspects of air safety and quality.
Aircraft, medical personnel, aviation crew and operations certificates are provided by Healthify.

{% endblock %}


{% block content1 %}
{% endblock %}