{% extends 'newapp/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
 <title> Registration </title>
{% endblock %}

{% block content %}
     <h1 style="text-align:'center';">Registration Form</h1>
    <br><br>
<div class="container">
 <form method="post" class="jumbotron" style="width:20%">
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Register" class="btn btn-success">
 </form>
 <br>
 {% for msg in messages %}
     <p style="text-align:'right';">{{msg}}</p>
 {% endfor %}
</div>
{% endblock %}

{% block content1 %}
{% endblock %}